[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Robert972808
[access "refs/for/refs/*"]
	read = group user/Robert972808
	push = group user/Robert972808
	label-Code-Review = -2..+2 group user/Robert972808
	label-Verified = -1..+1 group user/Robert972808
	rebase = group user/Robert972808
	removeReviewer = group user/Robert972808
	submit = group user/Robert972808
[access "refs/heads/*"]
	read = group user/Robert972808
	create = group user/Robert972808
	push = +force group user/Robert972808
	pushMerge = group user/Robert972808
[access "refs/tags/*"]
	push = group user/Robert972808
	push = +force group user/Robert972808
